<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">YOLOv8 detection</a>
            <div class="navbar-nav">
                <a class="nav-item nav-link cyberpunk-btn" href="live-webcam">Live Webcam Detection</a>
                <a class="nav-item nav-link cyberpunk-btn" href="video-detection">Video Detection</a>
                <a class="nav-item nav-link cyberpunk-btn" href="image-detection">Image Detection</a>
            </div>
        </div>
    </nav>
    <div class="centered-content">
        <h1>404 Not Found</h1>
        <p>The page you are looking for doesn't exist.</p>
    </div>
</body>
</html>
